{
  "env": {
    "development": {
      "plugins": [["styled-components", { "ssr": true }]],
      "presets": ["next/babel"]
    },
    "production": {
      "plugins": [["styled-components", { "ssr": true }]],
      "presets": ["next/babel"]
    }
  },
  "plugins": [["styled-components", { "ssr": true }]]
}
