.snack {
  background: white;
  border-radius: 4px;
  padding: 1rem 1rem 1rem 1.25rem;
  width: 310px;
  // border-color: $bg-base;
  border-width: 1px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1.4;
  box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.15);

  &.error,
  &.success {
    color: var(--text-on-bg);
    * {
      color: var(--text-on-bg);
    }
  }
  &.error {
    background: var(--danger);
  }
  &.success {
    background: var(--success);
  }
}

a.snack:hover {
  background: var(--bg-secondary);
}

.content {
  padding-right: 1rem;
  flex-grow: 1;
}

.title {
  font-weight: 500;
  color: var(--text-primary);
}

.desc {
  font-size: 0.75rem;
}

.close {
  position: absolute;
  font-size: 0.8rem !important;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

@keyframes SPIN {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.iconContainer {
  min-width: 20px;
  min-height: 20px;
  margin-right: 0.75rem;
  & > * {
    display: flex;
    justify-content: center;
  }
}

.loader {
  border-radius: 50%;
  border: 3px solid var(--primary);
  position: relative;
  animation: SPIN 1s infinite linear;
  width: 20px;
  height: 20px;
  &:before {
    // background: red;
    z-index: 10;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-left: 4px solid var(--primary);
    opacity: 0.4;
  }
}
