html,
body {
  overflow-x: hidden;
}

body {
  --text-primary: #111432;
  --text-secondary: #6b6c6f;
  --text-on-bg: #fff;
  --bg-primary: #fff;
  --bg-secondary: #f5f5f9;
  --primary: #0069ff;
  --border-color: #e8eff7;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--text-primary);
  overflow-y: auto; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-primary);
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5 {
  margin-top: 1.5em;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

p {
  max-width: 760px;
  line-height: 1.4;
  & + * {
    margin-top: 0.5rem;
  }
}
* + p {
  margin-top: 0.5rem;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  transition: 0.2s all;
  display: flex;
  align-items: center;
  min-height: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
  border: 1px solid #f1f3fa;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    background: #fafafb;
    border-color: #eae8f0;
  }
  color: #111432;
  font-weight: 400;

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}

a {
  text-decoration: none;
}
