html,
body {
  overflow-x: hidden;
}

body {
  --text-primary: #111432;
  --text-secondary: #6b6c6f;
  --text-on-bg: #fff;
  --bg-primary: #fff;
  --bg-secondary: #f5f5f9;
  --primary: #0069ff;
  --success: #15cd72;
  --border-color: #e8eff7;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--text-primary);
  overflow-y: auto; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-primary);
  & + * {
    margin-top: 0.5rem;
  }
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5 {
  margin-top: 1.5em;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

p,
li,
span {
  max-width: 660px;
  line-height: 1.4;
  color: var(--text-primary);
  & + * {
    margin-top: 0.5rem;
  }
}
* + p {
  margin-top: 0.5rem;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  transition: 0.2s all;
  display: flex;
  align-items: center;
  min-height: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
  border: 1px solid #f1f3fa;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    background: #fafafb;
    border-color: #eae8f0;
  }
  color: #111432;
  font-weight: 400;

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}

a {
  text-decoration: none;
  color: var(--primary);
}

li {
  margin-left: 1.5rem;
}

/** tables **/

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
  border-spacing: 0 3px;
  color: var(--text-secondary);
  border-collapse: separate;
  border: 1px solid var(--border-color);
}

td,
th {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  &:first-child {
    padding-left: 1.5rem;
  }
  &:last-child {
    padding-right: 1.5rem;
  }
}

td {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  color: var(--text-secondary);
  font-weight: 500;
  border-top: 1px solid var(--border-color);

  color: var(--text-primary);
  background: var(--bg-primary);
  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

th {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  white-space: nowrap;

  font-weight: 700;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
