html,
body {
  width: 100%;
}

body {
  --text-primary: #111432;
  --text-secondary: #404a59;
  --text-on-bg: #fff;
  --bg-primary: #fff;
  --bg-secondary: #f5f5f9;
  --primary: #0069ff;
  --secondary: #1633ff;
  --success: #15cd72;
  --border-color: #e8eff7;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--text-primary);
  -webkit-overflow-scrolling: touch;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

p,
li {
  max-width: 660px;
  line-height: 1.4;
  color: var(--text-primary);
  & + * {
    margin-top: 0.5rem;
  }
}
* + p {
  margin-top: 0.5rem;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--text-primary);
  & + * {
    margin-top: 0.5rem;
  }
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5 {
  margin-top: 1.5em;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--primary);
  &:hover {
    color: var(--text-primary);
  }
}

li {
  margin-left: 1.5rem;
}

/** tables **/

table {
  // overflow-x: auto;
  // display: block;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  border-spacing: 0 3px;
  color: var(--text-secondary);
  border-collapse: separate;
  border: 1px solid var(--border-color);
}
// table tbody,
// table thead {
//   display: table;
//   width: 100%;
// }

td,
th {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  &:first-child {
    padding-left: 1.5rem;
  }
  &:last-child {
    padding-right: 1.5rem;
  }
}

td {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  color: var(--text-secondary);
  font-weight: 500;
  border-top: 1px solid var(--border-color);

  color: var(--text-primary);
  background: var(--bg-primary);
  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

th {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  white-space: nowrap;

  font-weight: 700;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
