.header-stats {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: minmax(125px, auto);
  gap: 1rem;
  width: 100%;

  & > * {
    display: flex;
    flex-direction: column;
  }

  .value {
    display: flex;
    align-items: flex-start;
    font-weight: 600;
    font-size: 30px;

    .ticker {
      font-size: 15px;
      position: relative;
      top: -10px;
    }
  }

  .subvalue {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-top: 5px;
    color: var(--text-secondary);
  }
}
